[core]
	excludesfile = /Users/$HOME/.gitignore_global
	editor = vim -f
[user]
	name = Ancient-Scapes
	email = ryu.8224@gmail.com
[commit]
	template = /Users/$HOME/.stCommitMsg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
  required = true

# workフォルダの時会社用gitアカウントに切り替え
[includeIf "gitdir:~/project/work/"]
  path = ~/.gitconfig-work

# otherフォルダの時は個人用アカウントを使用する
[includeIf "gitdir:~/project/other/"]
  path = ~/.gitconfig-other
